.reveal img.logo {
    position: absolute;
    width: 100px;
    left: 30px;
    bottom: 30px;
}


.reveal ul{
    list-style: none;
}
.reveal ul > li:before {
    content: "–";
    position: absolute;
    margin-left: -1.1em;
}
